body{
    background-color: whitesmoke;
    font-family: sans-serif;
}

h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
}

h2{
    margin: 0 0 5px;
    font-size: 28px;
}

select{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
}

.container{
    max-width: 600px;
    margin: 60px auto;
    background-color: white ;
    padding: 60px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.city{
   display: flex;
   margin: 20px 0;
   justify-content: space-between;
   padding: 30px 0;
   border-bottom: 1px dashed lightgrey;
}

.city:last-child{
    border: none;
}


.date{
    opacity: 0.7;
}

.time{
    font-size: 48px;
    font-weight: bold;
}

.time small{
    font-size:28px;
    vertical-align: middle;
    line-height: 36px;
}





footer{
    text-align: center;
    font-size: 16px;
    color: gray;
}